.custom-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)); /* Add padding to the grid container */
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 9%;
  border:0px;
}

.custom-item {
  width: 100%;
}

